.header {
  grid-area: header;
  display: grid;
  grid-template:
    '. logo  navbar' 1fr/
    0.1fr 0.2fr 0.7fr;
  background-color: var(--drkgreen);
  position: sticky;
  z-index: 1;
  top: 0;
  color: white;
  backdrop-filter: blur(6px);
}

.navbar-logo {
  grid-area: logo;
  height: 50px;
  width: 50px;
}

.navbar {
  grid-area: navbar;
  display: grid;
  grid-template:
    'left . right' 1fr/
    0.6fr 0.2fr 0.2fr;
}

.navbar-list {
  grid-area: left;
  display: grid;
  font-size: 2rem;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar-item {
  display: grid;
  cursor: pointer;
  place-content: center;
  font-variant: small-caps;
}

.navbar-item:hover {
  background-color: var(--topbar);
  animation: pulseNav 1s;
  box-shadow: 0 0 0 1rem transparent;
}

@keyframes pulseNav {
  0% {
    box-shadow: 0 0 0 0 var(--topbar);
  }
}

.navbar-register-login-cart {
  display: grid;
  grid-area: right;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
